.c-btn {
    &--view {
        a {
            width: 300px;
            height: 70px;

            letter-spacing: 5px;

            text-decoration: none;
            text-transform: uppercase;

            font-family: $font-lato;
            font-size: 14px;
            font-weight: 700;

            border-radius: 36px;

            color: $text-white;

            background-color: $primary-color;

            display: block;

            @include flexDesign();
            justify-content: center;
        }
    }
}